<div class="container-fluid">
  <h2 class="main-heading">Create a <span class="title2">Quote</span></h2>
  <form (ngSubmit)="submitQuote(); quoteForm.resetForm()" #quoteForm='ngForm'>

    <div class="form-group">
      <label class="form-labels" for="personSubmitting">Your Name</label>
      <input type="text" id="personSubmitting" class="form-control" [(ngModel)]="newQuote.personSubmitting"
        name="personSubmitting" #personSubmitting="ngModel" required>
      <div [hidden]="personSubmitting.valid || personSubmitting.pristine" class="text-danger">
        <p>*Name required</p>
      </div>
    </div>

    <div class="form-group">
      <label class="form-labels" for="">Quote Title</label>
      <input type="text" id="" class="form-control" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
      <div [hidden]="name.valid || name.pristine" class="text-danger">
        <p>*Must indicate a quote Title</p>
      </div>

    </div>

    <div class="form-group">
      <label class="form-labels" for="">Quote</label>
      <input type="text" id="" class="form-control" [(ngModel)]="newQuote.description" name="description"
        #description="ngModel" required>
      <div [hidden]="description.valid || description.pristine" class="text-danger">
        <p>*Must indicate a quote</p>
      </div>

    </div>

    <div class="form-group">
      <label class="form-labels" for="">Author</label>
      <input type="text" id="" class="form-control" [(ngModel)]="newQuote.author" name="author" #author="ngModel"
        required>
      <div [hidden]="author.valid || author.pristine" class="text-danger">
        <p>*Please enter an author</p>
      </div>

    </div>

    <div class="text-center">
      <button type="submit" [disabled]="!quoteForm.valid" class="btn btn-warning m-4 ">Add Quote</button>
    </div>
  </form>
</div>
