.main-heading {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

.form-labels {
  font-family: sans-serif;
  color: rgb(252, 178, 19);
  font-size: 150%;
  position: relative;
  left: 35%;
}

form {
  background-image: url("/assets/images/formb2.jpg");
  background-position: center;
  background-size: cover;
}
