main {
  overflow-x: hidden;
}

#quotes-bg {
  background-image: url("../assets/images/first-bg.jpg");
  background-position: center;
  height: 70vh;
  background-size: cover;
}

.bg-text {
  color: white;
  position: relative;
  top: 20%
}

.title1 {
  color: rgb(252, 178, 19);
}

.title2 {
  color: rgb(123, 230, 109)
}

.homelinks {
  margin: auto;
}
