<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">QuotesApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Home</a>
      <a href="#" class="nav-item nav-link">About Us</a>
      <a href="#" class="nav-item nav-link">Contact Us</a>
    </div>
  </div>

  <!-- form -->
  <form>
    <input type="search" placeholder="search" class="form-control mr-sm-2">
  </form>
</nav>

<div id="quotes-bg">
  <div class="bg-text text-center">
    <h2>WELCOME TO QuoteApp</h2>
  </div>
</div>
<app-quotes></app-quotes>
