<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><span class="title1">Quotes</span><span class="title2">App</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav homelinks">
        <a href="#" class="nav-item nav-link">Home</a>
        <a href="#" class="nav-item nav-link">About Us</a>
        <a href="#" class="nav-item nav-link">Contact Us</a>
      </div>
    </div>

    <!-- form -->
    <form>
      <input type="search" placeholder="search" class="form-control mr-sm-2">
    </form>
  </nav>

  <div id="quotes-bg" class="mb-4">
    <div class="bg-text text-center">
      <h2><span class="title1">Welcome to </span><span class="title2">Quotes App</span></h2>
    </div>
  </div>
  <app-quotes></app-quotes>

  <footer class="page-footer font-small bg-dark">

    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="#"> QuotesApp.com</a>
    </div>
    <!-- Copyright -->

  </footer>
</main>
