<div class="row">
  <div class="col-md-4">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
  </div>

  <div class="col-md-6">
    <div *ngFor='let quote of quotes;let i = index'>
      <div>
        <li appHighlight>{{quote.id}}.{{quote.name}}</li>
      </div>
      <button (click)=upVote(i)>Upvote</button>{{quote.upVote}}
      <button (click)=downVote(i)>Downvote</button>{{quote.downVote}}
      <button class="btn btn-primary m-2" (click)="showMore(i)">Show More</button>
      <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuotes($event,i)'>
      </app-quote-detail>
    </div>
  </div>

</div>
