li {
  display: inline-block;
}

.like {
  background-color: transparent;
  border: none;
  color: #38010f;
  font-size: 20px;
}

.quoting {
  /* margin: 4%;
  padding: 2%; */
}

.btnright {
  float: right;
  position: relative;
  top: -38px;
}

.card-header {
  font-family: sans-serif;
}

.blockquote p {
  font-family: 'Cormorant Infant', serif;
}

.blockquote footer {
  font-family: 'Estonia', cursive;
  font-size: 130%;
  font-weight: bold
}
