<div class="row">
  <div class="col-md-4">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
  </div>

  <div class="col-md-6">
    <div *ngFor='let quote of quotes;let i = index'>
      <li>{{quote.id}}.{{quote.name}}</li>
      <button (click)=clickMe()>Upvote</button>{{clickCount}}
      <button (click)=clickMe2()>Downvote</button>{{clickCount2}}
      <button class="btn btn-primary m-2" (click)="showMore(i)">Show More</button>
      <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuotes($event,i)'>
      </app-quote-detail>
    </div>
  </div>

</div>
